.top-nav {
  background: black;
  position: fixed;
  width: 100%;
  box-shadow: 5px 5px 10px #888888;
}
 
.top-nav a{
  margin: 0 20% auto;
  float: left;
  /*line-height:64px;*/
  padding-left: 1em; 
  padding-bottom: 0.1em;
  color: white;
  font-weight: normal;
  text-decoration: none
}

.container {
  position: absolute;
  margin: 4em 20% auto;
  width: 60%;
  border: 1px dotted black;
  padding: 0px 20px 20px 20px;
}

.navbar-small {
  margin: 0.8em auto;
}

.content {
  /*margin: 0 auto;*/
  padding: 5% 20% 5% 20%;
  /*padding: 5em 20em 5em 20em;*/

}

#error-messages {
  color: red;
  font-weight: bold;
  padding-bottom: 1em;
}


