<style type="text/css">
  .container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
    border: 1px dotted black;
  }
  th {
    text-align: left;
  }
</style>

<div class="container">
  <h1>Welcome to our Secret App!</h1>
  <p>Lets login!</p>
  <form action="/login" method="post">
    <input size = "30" type="text" name="email" placeholder='Enter your email...'>
    <br><br>
    <input size = "30" type="text" name="password" placeholder='Enter your password...'>
    <br><br>
    <input type='submit'>
  </form>
  <br><br>
  <p>If you don't have an account, let's create one!</p>
  <form action="/new" method="post">
    <input size = "30" type="text" name="first_name" placeholder='Enter your first name...'>
    <br><br>
    <input size = "30" type="text" name="last_name" placeholder='Enter your last_name...'>
    <br><br>
    <input size = "30" type="text" name="email" placeholder='Enter your email...'>
    <br><br>
    <input size = "30" type="text" name="password" placeholder='Enter your password...'>
    <br><br>
    <input type='submit'>
  </form>


</div>
